<!--Footer-->
<section id="footer" style=" background-color: #c3cfe2;">
  <div class="container-fluid" style="padding: 20px;  background-color: #c3cfe2;">
      <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <div class=" d-flex align-items-center">
          <a href="#about" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img class="bi" src="/images/Favicon/favicon-32x32.png" width="20" height="20" />
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 By Mohammed Parvez</span>
        </div>
      </footer>
    </div>
</section>
  </body>
  </html>
  